.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# PYPI created files
src/ypkgupgr.egg-info
dist
__pycache__

.idea/*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml